PAT_DATA_PATH=enter_your_local_path_here
ADM_DATA_PATH=enter_your_local_path_here
ICUSTAYS_DATA_PATH=enter_your_local_path_here
DIAG_DATA_PATH=enter_your_local_path_here
DIAG_CODES_DATA_PATH=enter_your_local_path_here
CHARTEVENTS_DATA_PATH=enter_your_local_path_here
D_ITEMS_DATA_PATH=enter_your_local_path_here